<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.ArticleDao">
    <select id="selectBySectionId" resultType="com.mobilecourse.backend.model.Article">
        SELECT *
        FROM article
        WHERE section_id = #{section_id} AND
        (
            (reader='All')
            OR (reader='Staff' AND #{is_staff}=1)
            OR (reader='Member' AND section_id=#{self_section_id})
            OR (reader='MemberStaff' AND #{is_staff}=1 AND section_id=#{self_section_id})
        )
    </select>

    <select id="selectByCategory" resultType="com.mobilecourse.backend.model.Article">
        SELECT *
        FROM article
        <where>
            <if test="category=='Favourite'">
                article_id IN (SELECT article_id FROM favourite  WHERE user_id=#{user_id})
            </if>
            <if test="category=='Follow'">
                AND section_id IN (SELECT section_id FROM follow WHERE user_id=#{user_id})
            </if>
            <if test="category=='Campus' or category=='Faculty' or category=='Club'">
                AND category = #{category}
            </if>
            AND
            (
                (reader='All')
                OR (reader='Staff' AND #{is_staff}=1)
                OR (reader='Member' AND section_id=#{section_id})
                OR (reader='MemberStaff' AND #{is_staff}=1 AND section_id=#{section_id})
            )
        </where>

    </select>


    <select id="getById" resultType="com.mobilecourse.backend.model.Article">
        SELECT *
        FROM article
        WHERE article_id = #{article_id}
    </select>

    <insert id="insert"  keyProperty="article_id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Article">
        INSERT INTO article
        <trim prefix="(" suffix=")" suffixOverrides="," >
            section_id, title, author_name, publish_time, content, reader, category, view_num, fav_num, like_num
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{section_id}, #{title}, #{author_name}, #{publish_time}, #{content}, #{reader}, #{category}, 0, 0, 0
        </trim>;
    </insert>

    <delete id="delete">
        DELETE FROM article
        WHERE article_id=#{article_id}
    </delete>

    <update id="updateViewCnt">
        UPDATE article
        SET view_num = #{update_num} + view_num
        WHERE article_id = #{article_id}
    </update>

    <update id="updateFavCnt">
        UPDATE article
        SET fav_num = #{update_num} + fav_num
        WHERE article_id = #{article_id}
    </update>

    <update id="updateLikeCnt">
        UPDATE article
        SET like_num = #{update_num} + like_num
        WHERE article_id = #{article_id}
    </update>

    <select id="search" resultType="com.mobilecourse.backend.model.Article">
        SELECT *
        FROM article
        WHERE MATCH (title, content) AGAINST (#{query})
        AND
        (
            (reader='All')
            OR (reader='Staff' AND #{is_staff}=1)
            OR (reader='Member' AND section_id=#{self_section_id})
            OR (reader='MemberStaff' AND #{is_staff}=1 AND section_id=#{self_section_id})
        )
    </select>
</mapper>