<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.MessageDao">

    <insert id="insert" parameterType="com.mobilecourse.backend.model.Message">
        INSERT INTO Message
        <trim prefix="(" suffix=")" suffixOverrides="," >
            sender_id, receiver_id, send_time, content
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{sender_id}, #{receiver_id}, #{send_time}, #{content}
        </trim>;
    </insert>

    <select id="select" resultType="com.mobilecourse.backend.model.Message">
        SELECT *
        FROM message
        WHERE receiver_id = #{user_id}
    </select>

</mapper>