<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.SectionDao">
    <select id="getBySectionId" resultType="com.mobilecourse.backend.model.Section">
        SELECT *
        FROM section
        WHERE section_id = #{section_id}
    </select>

    <select id="getBySectionName" resultType="com.mobilecourse.backend.model.Section">
        SELECT *
        FROM section
        WHERE section_name = #{section_name}
    </select>
</mapper>