<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.UserDao">


    <insert id="insert"  keyProperty="user_id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.User">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            username, password
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{username}, #{password}
        </trim>;
    </insert>

    <select id="getById" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM user
        WHERE user_id = #{user_id}
    </select>

    <select id="getByName" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="getByIdNum" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM user
        WHERE id_num = #{id_num}
    </select>

    <select id="getBySectionId" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM user
        WHERE section_id = #{section_id}
    </select>

    <update id="updateInfo">
        UPDATE user
        <set>
            <if test="avatar!=null and avatar!='' ">
                avatar = #{avatar},
            </if>
            <if test="status!=null and status!='' ">
                status = #{status},
            </if>
        </set>
        WHERE user_id = #{user_id};
    </update>

    <update id="updateInfoAuth">
        UPDATE user
        SET verified = #{verified},
            dept_name = #{dept_name},
            user_type = #{user_type},
            id_num = #{id_num},
            section_id = #{section_id}
        WHERE user_id = #{user_id};
    </update>


</mapper>